<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swipeup_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwipeUp_FRONTEND"
        android:usesCleartextTraffic="true">
        <activity android:name=".ForYou"></activity>
        <activity android:name=".qrcode.QrCode" />
        <activity android:name=".qrcode.QrScan" />
        <activity android:name=".Comment" />
        <activity android:name=".addfriends.AddFriendsonclick" />
        <activity android:name=".profile.EditProfile" />
        <activity android:name=".user.UserCode" />
        <activity android:name=".Visibility" />
        <activity android:name=".addfriends.MentionFriends" />
        <activity android:name=".user.ViewUser" />
        <activity android:name=".profile.follower" />
        <activity android:name=".profile.following" />
        <activity android:name=".videos.viewVideo" />
        <activity android:name=".sound.SongsDisplay" />
        <activity android:name=".search.HashtagsDisplay" />
        <activity android:name=".bookmark.BookMarks" />
        <activity android:name=".load_website" />
        <activity android:name=".profile.ProfileReportContent" />
        <activity android:name=".profile.ProfileReport" />
        <activity android:name=".post.Post" />
        <activity android:name=".addfriends.AddFriends" />
        <activity android:name=".HelpCenter" />
        <activity android:name=".Inbox.Notification.SettingsNotification" />
        <activity android:name=".Safety" />
        <activity android:name=".ManageAccount" />
        <activity android:name=".profile.SettingActicity" />
        <activity android:name=".bottom_navigation_menu" /> <!-- <activity android:name="." /> -->
        <activity android:name=".login.SignUp_Activity" />
        <activity android:name=".login.OtpVerification_Activity" />
        <activity android:name=".login.Reset_password_Activity" />
        <activity android:name=".login.Sign_in_Activity" />
        <activity android:name=".login.PasswordActivity" />
        <activity android:name=".profile.BirthdayActivity" />
        <activity android:name=".login.PagenameActivity" />
        <activity android:name=".user.UsernameActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>